# MongoDB Connection
MONGO_USER=
MONGO_PASSWORD=
MONGO_PORT=
MONGO_HOST=

# RabbitMQ Connection
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_PORT=
RABBITMQ_QUEUE="weather_data"

# Configuration for searching for weather information.
COLLECTION_INTERVAL=3600 # 1 hour
REGION_LAT=
REGION_LON=
REGION_NAME=

# API Configuration
API_URL=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
GENAI_API_KEY=
