# Conexão do MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_PORT=
MONGO_HOST="weather_mongo"

# Conexão do RabbitMQ
RABBITMQ_HOST="weather_broker"
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_PORT=
RABBITMQ_QUEUE="weather_data"

# Configuração do coletor de dados
COLLECTION_INTERVAL="3600" # 1 hour
REGION_LAT=
REGION_LON=

# Configuração do Worker
API_URL="http://api:3000"

# Configuração da API
JWT_PRIVATE_KEY=    # Cole aqui a chave privada em Base64
JWT_PUBLIC_KEY=     # Cole aqui a chave privada em Base64
GENAI_API_KEY=      # Cole aqui a API Key do Gemini
WORKER_API_TOKEN=   # Hash qualquer
DEFAULT_USER_EMAIL= # Opcional
DEFAULT_USER_PASSWORD= # Opcional
STAR_WARS_API_URL=     # API do Star Wars

# Configuração do frontend
VITE_API_URL=        # URL da API Rest
VITE_REGION_NAME=    # Nome da cidade ou região a qual pertence à latitude e longitude