# MongoDB Connection
MONGO_USER=
MONGO_PASSWORD=
MONGO_PORT=
MONGO_HOST="weather_mongo"

# RabbitMQ Connection
RABBITMQ_HOST="weather_broker"
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_PORT=
RABBITMQ_QUEUE="weather_data"

# Configuration for searching for weather information.
COLLECTION_INTERVAL="3600" # 1 hour
REGION_LAT=
REGION_LON=

# Worker configuration
API_URL="http://api:3000"

# API Configuration
JWT_PRIVATE_KEY=    # Cole aqui a chave privada em Base64
JWT_PUBLIC_KEY=     # Cole aqui a chave privada em Base64
GENAI_API_KEY=
WORKER_API_TOKEN=
DEFAULT_USER_EMAIL= # Optional
DEFAULT_USER_PASSWORD= # Optional
STAR_WARS_API_URL=     # API do Star Wars

# Frontend Configuration
VITE_API_URL=
VITE_REGION_NAME=
